@{
    ViewBag.Title = "Evgeny - Resume - A Software Developer. C# ASP.NET MVC SQL Server jQuery";
}

<link href="@Url.Content("~/Content/resume.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    d = document.getElementById('main-content');
    d.style.height = "1400px";
</script>

<div id="resume-wrap">
    <img src="../Content/images/evgeny.jpg" alt="Photo of Evgeny" id="pic" />
    <div id="contact-info" class="vcard">
        <h1 class="fn">Evgeny</h1>
        <p>
            Email: <a class="email" href="mailto:evgeny.rokhlin@gmail.com">evgeny.rokhlin@gmail.com</a>
        </p>
    </div>
    <!-- END contact info -->
    <div id="objective">
        <p>
            To write software which solves real problems and makes peoples' lives better.
        </p>
    </div>
    <!-- END objective -->
    <div class="clear">
    </div>
    <dl>
        <dd class="clear">
        </dd>
        <dt>Education</dt>
        <dd>
            <h2 class="resume">
                Swinburne University of Technology <span>Oct 2001 - Oct 2003</span></h2>
            <p>
                Master of Information Technology</p>
        </dd>
        <dd>
            <h2 class="resume">
                St Petersburg State Technical University <span>Sep 1991 - Feb 1997</span></h2>
            <p>
                Bachelors in Computer Science</p>
        </dd>
        <dd class="clear">
        </dd>
        <dt>Experience</dt>
        <dd>
            <h2 class="resume">
                Leica Microsystems <span>Senior Software Engineer - Jan 2012 - current</span></h2>
            <ul class="resume">
                <li class="resume">Developing software for medical instruments</li>
                <li class="resume">Agile environment</li>
                <li class="resume">Extensive unit testing</li>
                <li class="resume">C#, .NET Framework 4.0, WPF, PostgreSQL</li>
            </ul>
            <h2 class="resume">
                Crown Limited <span>Analyst Programmer - Sep 2008 - Jan 2012</span></h2>
            <ul class="resume">
                <li class="resume">Worked in Management Information Systems department</li>
                <li class="resume">Supported and enhanced a wide range of applications used for casino operations</li>
                <li class="resume">Worked closely with the business to analyse requirements and design the recommended
                    solutions</li>
                <li class="resume">Developed software that communicated to Document Scanners, Barcode Scanners, Smart
                    Card and Magnetic Stripe readers</li>
                <li class="resume">C#, .NET Framwork 2.0 - 4.0, WPF / Composite Application Guidance (PRISM), ASP.NET,
                    WCF, Windows Forms, SQL Server, Web Services, XML</li>
            </ul>
            <h2 class="resume">
                Information Outlook <span>Analyst Programmer - Aug 2006 - Sep 2008</span></h2>
            <ul class="resume">
                <li class="resume">Worked as a part of a small group of 3-5 developers</li>
                <li class="resume">Agile environment</li>
                <li class="resume">Developed a data management and accounting application used by local City councils
                    across Australia</li>
                <li class="resume">Designed, implemented and optimised performance of a database</li>
                <li class="resume">SQL queries, stored procedures, function, triggers</li>
                <li class="resume">Developed a reporting module</li>
                <li class="resume">C#, .NET Framework 3.5, Windows Forms, SQL Server</li>
            </ul>
            <h2 class="resume">
                Interactive Group <span>Analyst Programmer - Jul 2005 - Jul 2006</span></h2>
            <ul class="resume">
                <li class="resume">Supported and enhanced a complex database that provides access to mobile communications
                    network data in real time</li>
                <li class="resume">Revised and updated application code</li>
                <li class="resume">Prepared and tested new releases of the system</li>
                <li class="resume">Implemented new reports and monitored their performance</li>
                <li class="resume">Maintained the database server</li>
                <li class="resume">C#, .NET Framework 2.0, SQL Server</li>
            </ul>
            <h2 class="resume">
                Infosys Australia <span>Programmer - Nov 2001 - Jul 2005</span></h2>
            <ul class="resume">
                <li class="resume">Worked for several clients of the company</li>
                <li class="resume">Developed website enhancements and new features</li>
                <li class="resume">Developed applications that manage</li>
                <li class="resume">ASP (Classic), ASP.NET, VB.NET, SQL Server, JavaScript, Web Services, XML</li>
            </ul>
        </dd>
    </dl>
</div>
