@{
    ViewBag.Title = "Company Details - MVC WebGrid Yahoo Finance Data Example";
}
<link href="@Url.Content("~/Content/blog.css")" rel="stylesheet" type="text/css" />
<h2><a href=@Model.WebSite>@Model.SymbolName</a></h2>

<div class="blogcontainer">
@MvcHtmlString.Create(Model.SymbolDescription)
</div>
