<style type="text/css">
    #doggy
    {
        width: 100px;
        height: 100px;
        background-image: url(../Content/images/dogs.gif);
        z-index: 9000;
        position: fixed;
        right: 3em;
        bottom: 10em;
    }

    #doggy:hover
    {
        background-image: url(../Content/images/dog.gif);
    }
    #tip
    {
        width: 130px;
        height: 133px;
        opacity: 0.90;
        background-image: url(../Content/images/tip.png);
        z-index: 9000;
        position: fixed;
        right: 10em;
        bottom: 15em;
        display: none;
    }
    #tipcontent
    {
        padding: 1.3em;
        font-size: 95%;
    }
</style>

<script type="text/javascript">
    $(function () {
        $('#doggy').draggable({
            drag: function () {
                var dl = parseFloat($('#doggy').css('left'));
                var dt = parseFloat($('#doggy').css('top'));
                $('#tip').css('left', (dl - 130) + "px").css('top', (dt - 100) + 'px');
            }
        });

        $('#tip').click(showTip);
        $('#doggy').click(function () {
            if (!$('#tip').is(':visible')) {
                $('#tip').fadeIn();
            }
            else {
                $('#tip').fadeOut();
            }
        });
    });

    function showTip() {
        $.post('@Url.Action("tell","doggy")',
        function (d) {
            $('#tipcontent').html(d.o);
            $('#tip').show();
        });
    }
</script>

<div id="doggy">
</div>
<div id="tip">
    <div id="tipcontent">
    Click here to view Yahoo symbols
    </div>
</div>
