@{
    ViewBag.Title = "Theory Behind The Main Page - MVC WebGrid Yahoo Finance Data Example";
}
@Html.BodyTagUpdate("gamedesc")
<div id="page">
    @Html.Partial("_YahooNav")
    <div class="generalText">
    @Html.YahooTheory()
    </div>
</div>
@Html.HighLightSyntax()