@{
    ViewBag.Title = "Theory";
}
@Html.BodyTagUpdate("gamedesc")
<div id="page">
    @Html.Partial("_YahooNav")
    <div class="generalText">
    <!--@Html.GameTheory()-->
    </div>
</div>
@Html.HighLightSyntax()