@{
    ViewBag.Title = "Local Alignment Index";
}

@Html.BodyTagUpdate("game")
<div id="page" style="min-width:500px">
    @Html.Partial("_LocalAlignNav")
</div>

<div>Local alignment - under construction</div>