@{
    ViewBag.Title = "Theory Behind The Local Sequence Alignment Algorithm Example";
}

@Html.BodyTagUpdate("gamedesc")
<div id="page">
    @Html.Partial("_LocalAlignNav")
    <!--
    <div class="generalText">
    @Html.StoneTheory()    
    </div>
    -->
</div>

<div>Local alignment theory - under construction</div>

@Html.HighLightSyntax()
