@{
    ViewBag.Title = "Todo";
}

<h2>Things to add and fix</h2>

<div class="blogcontainer">
<ul>
    <li>Resume
        <ol>
            <li>Add a section on training</li>
        </ol>
    </li>
    <li>Blog example
        <ol>
            <li>Add more seed data</li>
            <li>Add show more/show less button to display more or less posts</li>
            <li>Add pagination</li>
        </ol>
    </li>
    <li>Recipe example
        <ol>
            <li>Add an autocomplete element on ingredients page</li>
        </ol>
    </li>
    <li>Game of life example
        <ol>
            <li>Add some other elements other than the glider</li>
        </ol>
    </li>
    <li>Stepping stone example
        <ol>
            <li>Find out how to make interface better - more responsive</li>
            <li>Let the user configure number of colours</li>
        </ol>
    </li>
</ul>
</div>
