<div id="centeredmenu" style="background: #c99;">
    <ul>
		<li>@Html.ActionLink("Global Alignment", "../GlobalAlignment/Index", new { seofriendly = "BioInformatics: Global Alignment".ToSeoUrl() }, new { @class = "game" })</li>
        <li>@Html.ActionLink("Theory", "../GlobalAlignment/Theory", new { seofriendly = "BioInformatics: Global Alignment".ToSeoUrl() }, new { @class = "gamedesc" })</li>
    </ul>
</div>