<div id="centeredmenu" style="background: #c99;">
    <ul>
		<li>@Html.ActionLink("Local Alignment", "../LocalAlignment/Index", new { seofriendly = "BioInformatics: Local Alignment".ToSeoUrl() }, new { @class = "game" })</li>
        <li>@Html.ActionLink("Theory", "../LocalAlignment/Theory", new { seofriendly = "BioInformatics: Local Alignment".ToSeoUrl() }, new { @class = "gamedesc" })</li>
    </ul>
</div>