<script type="text/javascript">

    $.ajaxSetup({cache: false}});

    var timerID;

    function Start() {
        timerID = setInterval("$('#update').load('/Game/Update')", 1000);
    }

    function Stop() {
        clearInterval(timerID);
    }

    function ResetGame() {
        Stop();
        $('#update').load("/Game/Reset");
    }

    function AddGlider() {
        Stop();
        $('#update').load("/Game/AddGlider");
    }
</script>
@model HtmlString
@{
    ViewBag.Title = "Main Page - The Game Of Life Algorithm - MVC Game Of Life Example";
}
@Html.BodyTagUpdate("game")
<div id="page" style="min-width:500px">
    @Html.Partial("_GameNav")
    <div id="update" style="float:left; min-width:500px;">
        @{Html.RenderPartial("_Table", Model);}
    </div>
    <div id="buttons" style="float:right; min-width:100px; padding:10px">
        <input id="addglider" style="margin:3px" type="button" value="Add Glider" onclick="AddGlider();" /><br/>
        <input id="clean"  style="margin:3px" type="button" value="Reset" onclick="ResetGame();" />
    </div>
    <div id="stopstart" style="padding:10px; height: 25px; clear: both;">
        <input id="stop" type="button" style="margin:3px" onclick="Stop();" value="Stop" /><input id="start"
            type="button" style="margin:3px" onclick="Start();" value="Start" />
    </div>
</div>
