@{
    ViewBag.Title = "Theory Behind The Photobox Gallery - CSS3 Photobox jQuery Image Gallery Example";
}
@Html.BodyTagUpdate("gamedesc")
<div id="page">
    @Html.Partial("_PhotoboxNav")
    <div class="generalText">
    @Html.PhotoboxTheory()
    </div>
</div>
@Html.HighLightSyntax()