<div id="centeredmenu" style="background: #c99;">
    <ul>
		<li>@Html.ActionLink("jQuery Game of Life Example", "../jqGame/Index", new { seofriendly = "jQuery Game of Life Example".ToSeoUrl() }, new { @class = "game" })</li>
        <li>@Html.ActionLink("Theory", "../jqGame/Theory", new { seofriendly = "jQuery Game of Life Example Theory".ToSeoUrl() }, new { @class = "gamedesc" })</li>
    </ul>
</div>