<div id="centeredmenu" style="background: #c99;">
    <ul>
		<li>@Html.ActionLink("Stepping Stone", "../Stone/Index", new { id = 1, seofriendly = "Stepping Stone Modle".ToSeoUrl() }, new { @class = "game" })</li>
        <li>@Html.ActionLink("Theory", "../Stone/Theory", new { id = 1, seofriendly = "Stepping Stone Modle".ToSeoUrl() }, new { @class = "gamedesc" })</li>
    </ul>
</div>
