body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for fluid CSS design
-----------------------------------------------------------*/
/* css-tricks.com/the-perfect-fluid-width-layout/ */

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	background: url(images/stripe.png) repeat;
}

p, li {
/*	font: 1.2em/1.8em Tahoma, sans-serif;
	margin-bottom: 10px;*/
}

h1 {
	font: 2.0em Tahoma, sans-serif;
	color: white;
	height: 0px;
}

h2 {
	font: 1.8em Tahoma, sans-serif;
	color: green;
	margin-bottom: 10px;
}

ul {
	margin-left: 25px;
}

img {
	border: none;
}

div.generalText
{
    font: 13px Arial, Helvetica, Garuda, sans-serif;
    font-style: normal;
}

div.generalText p
{
    padding: 5px;
}

#page-wrap {
	background: white;
	min-width: 780px;
	max-width: 1260px;
	margin: 10px auto;
	background-image: url(images/bg_blue.jpg);
	}
	#page-wrap #inside {
		margin: 10px 10px 0px 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
#main-content {
	/*background: url(images/left-sidebar.gif) repeat-y white;*/
	/*min-height:400px;*/
	overflow: hidden;
	background-image: url(images/bg_white.jpg);
	/*border: 5px solid #aaa;*/
	/*padding-left: 230px;*/
	padding-top: 0px;
}
	
#header 
{
    /*background: url(images/Laptop_saver.jpg) repeat-x left top;*/
	/*background: #00B2EE;*/
	/*background-repeat:repeat-x;*/
	text-align: center;
	height: 150px;
}
	
#left-sidebar {
	width: 180px;
	float: left;
	padding-left: 15px;
	padding-top: 20px;
}

#footer {
	/*background: #267f23;*/
	/*background-image: url(images/bg_blue.jpg);*/
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}

#topside
{
    /*z-index: -1000;*/
    /*background-image: url(images/bg_blue.jpg);*/
}

/* Styles for basic forms
-----------------------------------------------------------*/
/* 24ways.org/2009/have-a-field-day-with-html5-forms */

html, body, h1, form, fieldset, legend, ol, li {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    color: #111111;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 20px;
}

form {
    background: #9CAA9C; /*#9cbc2c;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    /*width: 500px;*/
}

form a
{
    font-family: Georgia, "Times New Roman", Times, serif;
    /*font-family: Calibri;*/
    color: #FFCB2D; /* #ffff7e;*/
    font-weight: bold;
    /*font-style: italic;*/
    text-decoration: none;
}

form fieldset {
    border: none;
    margin-bottom: 10px;
}

form fieldset:last-of-type {
    margin-bottom: 0;
}

form legend {
    color: #ADFF2F; /* #384313;*/
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 5px;
    text-shadow: 0 1px 1px #c0d576;
}

ol.styled, li.styled {
    background: #b9cf6a;
    background: rgba(255,255,255,.3);
    border-color: #e3ebc3;
    border-color: rgba(255,255,255,.6);
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
}

form div.display-label, label /* display label outside of table */
{ 
    float: left;
    font-size: 13px;
    width: 110px;
}

form div.display-warning
{
    /*float: left;*/
    font-size: 16px;
    /*width: 200px;*/
    color: Red;    
    padding: 5px;
}

form div.display-label-nofloat
{
    float:none;
    display: inline-block;
    position:relative;
    vertical-align:bottom;
}

.displayBasic, form div.display-field, form input, form select, form div.editor-field, form div.display-info
{
    background: #ffffff;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    font: 13px Georgia, "Times New Roman", Times, serif;
    outline: none;
    padding: 5px;
    width: 200px;
}

form div.display-textarea{
    background: #ffffff;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    font: 13px Georgia, "Times New Roman", Times, serif;
    outline: none;
    padding: 5px;
    max-width: 600px;
}

.buttonBasic, form div.display-button, form .buttonlink, form .buttonright
{
    float: left;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border: none;
    font: 12px Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    text-align:center;
    text-shadow: 0 1px 1px #000000;
    /*text-transform: uppercase;*/
    color: #ffffff;
    background: #2F2F4F;  /*#384313;*/
    width: 100px;
}

form .buttonright
{
    float: none;
    display: inline-block;
}

form div.display-field /*, form div.display-textarea*/ /*display data in a white div outside of table*/
{
    float:none;
    display: inline-block;
    position:relative;
    left:0px;
}

form div.display-info /* to display text in the table */
{
    display:inline-block;
    font: italic;
    width:auto;
}

form input {
    font: italic;
}

form select
{
    font: italic;
}

form div.editor-field {
    font: italic;
}

form buttonlink:hover 
{
    background: #1e2506;
    cursor: pointer;
}

form div.display-button /*small button in the tables*/
{
    font-size: 13px;
    padding: 2px;
    margin: auto;
}

form .buttonlink /* a larger button outside of the form */
{
    padding: 7px;
    margin: 5px;
}

.slidingDiv {
    height:300px;
    padding:20px;
    margin-top:35px;
    margin-bottom:10px;
}
 
.show_hide {
    display:none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Custom styles */

nav[role="navigation"] 
{ 
  display: block;
  margin: 0; 
  padding: 10px 0 0 0px; 
  list-style: none; 
  z-index: -1000;
  background: #FFCB2D;
  /*background: url(images/gameoflife.png) repeat-x bottom left;*/
}

nav[role="navigation"] li 
{ 
  float: left; 
  margin: 0 1px 0 0; 
  padding: 0; 
  font-family: "Lucida Grande", sans-serif; 
  font-size: 100%; 
  font-weight: bold;
}

nav[role="navigation"] ul  
{
  float:left;
  width:100%;
  margin: 0 0 0 0; 
  padding: 10px 0 0 0px; 
  list-style: none; 
  background: #FFCB2D url(images/nav_bg.gif) repeat-x bottom left;
  /*background: url(images/gameoflife.png) repeat-x bottom left;*/
}

nav[role="navigation"] ul li a { 
  float: right; 
  display: block; 
  margin: 0; 
  padding: 4px 8px; 
  color: #333; 
  text-decoration: none; 
  border: 1px solid #9B8748; 
  border-bottom: none; 
  background: #F9E9A9 url(images/off_bg.gif) repeat-x top left; 
} 
  
nav[role="navigation"] ul li a:hover, body#recipe #nav-recipe a, body#category #nav-category a, body#subcategory #nav-subcategory a, body#ingredient #nav-ingredient a, body#mealplan #nav-mealplan a
{ 
  color: #333; 
  padding-bottom: 5px; 
  border-color: #727377; 
  background: #FFF url(images/on_bg.gif) repeat-x top left; 
} 

/* Centered menu */
/* matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support */
/*csscreator.com/topic/css-current-page-nav-link-highlight*/

#centeredmenu 
{
   float:left;
   width:100%;
   background:#fff;
   border-bottom:2px solid #000; /* remove border-bottom to get rid of black line */
   overflow:hidden;
   position:relative;
   background-image:url(images/gameoflife.png);
}
#centeredmenu ul 
{
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li 
{
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#centeredmenu ul li a 
{
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#ddd;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}
#centeredmenu ul li a:hover 
{
   background:#369;
   color:#fff;
}

body#game .game,
body#gamedesc .gamedesc
{
   color:#fff;
   background:#000;
   font-weight:bold;
}