@{
    ViewBag.Title = "Theory Behind The Logging Engine Example";
}
@Html.BodyTagUpdate("gamedesc")
<div id="page">
    @Html.Partial("_LoggingNav")
    <div class="generalText">
    @Html.LoggingTheory()
    </div>
</div>
@Html.HighLightSyntax()
