<script type="text/javascript">

    function Search() {
        v = document.getElementById('keywords').value;
        $('#update').load("/Search/Run", { keywords: $("#keywords").val() });
    }
</script>

@model HtmlString
@{
    ViewBag.Title = "Index";
}

<div id="page" style="min-width:500px">
    @Html.Partial("_SearchNav")
    <div id="buttons">
        <label id="label" style="padding:3px">Search Terms: </label>
        <input id="keywords" style="padding:3px" type="text" value="" />
        <input id="search" style="padding:3px" type="button" value="Search" onclick="Search();" />
    </div>
    <div id="update">
        @{Html.RenderPartial("_List", Model);}
    </div>
</div>
