@{
    ViewBag.Title = "Theory Behind The Main Page - Using Google API and Parsing Search Results MVC Example";
}
@Html.BodyTagUpdate("gamedesc")
<div id="page">
    @Html.Partial("_SearchNav")
    <div class="generalText">
    @Html.SearchTheory()
    </div>
</div>
@Html.HighLightSyntax()
