@model Recipes.Controllers.TestModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Test", FormMethod.Get, new { id = "myform" }))
{
    @Html.DropDownListFor(model => model.TestValue, new SelectList(Recipes.Controllers.Helper.Items, "Value", "Text"), new { onchange = "document.getElementById('myform').submit()" })
}