@model Recipes.Models.Blogger
@{
    ViewBag.Title = "Delete Blogger - MVC Blog Engine Example";
}
@using (Html.BeginForm())
{
    <fieldset>
        <div class="display-warning">
            Are you sure you want to delete this? You are deleting the blogger:</div>
        <ol>
            <li class="styled">
                <div class="display-field">@Model.BloggerName</div>
            </li>
        </ol>
        <div class="display-warning">
            Blogger, his blogs and all posts will be deleted forever, without the option to
            recover.</div>
        <div class="display-warning">
            Please make sure you have made backups.</div>
        <legend>Blogger</legend>
        <ol>
            <li class="styled">
                <div class="display-label">
                    BloggerName</div>
                <div class="display-field">@Model.BloggerName</div>
            </li>
        </ol>
    </fieldset>
    
    <fieldset>
        <input class="buttonlink" type="submit" value="Delete" />
        <div class="buttonlink">@Html.ActionLink("Back to List", "Index")</div>
    </fieldset>
}
