@{
    ViewBag.Title = "Theory Behind The jQuery Implementation of Conway's Game of Life Example";
}
@Html.BodyTagUpdate("gamedesc")
<div id="page">
    @Html.Partial("_JQGameNav")
    <div class="generalText">
    @Html.JQGameTheory()
    </div>
</div>
@Html.HighLightSyntax()
