@{
    ViewBag.Title = "Company Details - MVC WebGrid Yahoo Finance Data Example";
}
<link href="@Url.Content("~/Content/BlogNew.css")" rel="stylesheet" type="text/css" />
<div id="content">
    <h2><a href=@Model.WebSite>@Model.SymbolName</a></h2>
	<div id="main">

		<div class="post-wrap">
			<div class="post-content">  
                @MvcHtmlString.Create(Model.SymbolDescription)                 
			</div><!-- post-content-->
		</div><!-- post-wrap -->
	</div> <!-- main -->
</div> <!-- content -->

