@{
    ViewBag.Title = "Theory Behind The Main Page - The Game Of Life Algorithm - MVC Game Of Life Example";
}
@Html.BodyTagUpdate("gamedesc")
<div id="page">
    @Html.Partial("_GameNav")
    <div class="generalText">
    @Html.GameTheory()
    </div>
</div>
@Html.HighLightSyntax()
