@{
    ViewBag.Title = "Evgeny - Resume - A Software Developer. C# ASP.NET MVC SQL Server jQuery";
}

<link href="@Url.Content("~/Content/resume.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    d = document.getElementById('main-content');
    d.style.height = "3000px";
</script>

<div id="resume-wrap">
    <img src="../Content/images/evgeny.jpg" alt="Photo of Evgeny" id="pic" />
    <div id="contact-info" class="vcard">
        <h1 class="fn">Evgeny</h1>
        <p>
            Email: <a class="email" href="mailto:evgeny.rokhlin@gmail.com">evgeny.rokhlin@gmail.com</a>
        </p>
    </div>
    <!-- END contact info -->
    <div id="objective">
        <p>
            IT professional with the 14 years software development background and extensive experience in object-oriented programming, database development (SQL Server, PostgreSQL) and web development (ASP.NET / MVC / Entity Framework, scripting languages) with a main focus on Microsoft development tools. I was involved and was coordinating requirements gathering, writing specifications, development, coordinating test arrangements, preparation of user and service manuals, project documentation and passing audits, including FDA.
        </p>
		<p>
			I have the ability to manage projects under tight deadlines and work effectively in a team setting or independently. I am self-motivated and a good team player.
		</p>
    </div>
    <!-- END objective -->
    <div class="clear">
    </div>
    <dl>
        <dd class="clear">
        </dd>
        <dt>Education</dt>
        <dd>
            <h2 class="resume">
                University of Manchester <span>Oct 2011 - in progress</span></h2>
            <p>
                Master of Science – Digital Biology</p>
        </dd>
        <dd>
            <h2 class="resume">
                Swinburne University of Technology <span>Oct 2001 - Oct 2003</span></h2>
            <p>
                Master of Information Technology</p>
        </dd>
        <dd>
            <h2 class="resume">
                St Petersburg State Technical University <span>Sep 1991 - Feb 1997</span></h2>
            <p>
                Bachelors in Computer Science</p>
        </dd>
        <dd>
            <h2 class="resume">
                Microsoft Certified Technology Specialist (MCTS)<span>2008</span></h2>
            <p>
                Microsoft Certification</p>
        </dd>
        <dd class="clear">
        </dd>
        <dt>Experience</dt>
        <dd>
            <h2 class="resume">
                Leica Microsystems <span>Senior Software Engineer - Jan 2012 - current</span></h2>
            <ul class="resume">
                <li class="resume">Developing software for medical instruments</li>
                <li class="resume">Agile environment</li>
                <li class="resume">Extensive unit testing</li>
                <li class="resume">C#, .NET Framework 4.0, WPF, PostgreSQL</li>
            </ul>
            <h2 class="resume">
                Crown Limited <span>Analyst Programmer - Sep 2008 - Jan 2012</span></h2>
            <ul class="resume">
                <li class="resume">Worked in Management Information Systems department</li>
                <li class="resume">Supported and enhanced a wide range of applications used for casino operations</li>
                <li class="resume">Worked closely with the business to analyse requirements and design the recommended
                    solutions</li>
                <li class="resume">Developed software that communicated to Document Scanners, Barcode Scanners, Smart
                    Card and Magnetic Stripe readers</li>
                <li class="resume">C#, .NET Framwork 2.0 - 4.0, WPF / Composite Application Guidance (PRISM), ASP.NET,
                    WCF, Windows Forms, SQL Server, Web Services, XML</li>
            </ul>
            <h2 class="resume">
                Information Outlook <span>Analyst Programmer - Aug 2006 - Sep 2008</span></h2>
            <ul class="resume">
                <li class="resume">Worked as a part of a small group of 3-5 developers</li>
                <li class="resume">Agile environment</li>
                <li class="resume">Developed a data management and accounting application used by local City councils
                    across Australia</li>
                <li class="resume">Designed, implemented and optimised performance of a database</li>
                <li class="resume">SQL queries, stored procedures, function, triggers</li>
                <li class="resume">Developed a reporting module</li>
                <li class="resume">C#, .NET Framework 3.5, Windows Forms, SQL Server</li>
            </ul>
            <h2 class="resume">
                Interactive Group <span>Analyst Programmer - Jul 2005 - Jul 2006</span></h2>
            <ul class="resume">
                <li class="resume">Supported and enhanced a complex database that provides access to mobile communications
                    network data in real time</li>
                <li class="resume">Revised and updated application code</li>
                <li class="resume">Prepared and tested new releases of the system</li>
                <li class="resume">Implemented new reports and monitored their performance</li>
                <li class="resume">Maintained the database server</li>
                <li class="resume">C#, .NET Framework 2.0, SQL Server</li>
            </ul>
            <h2 class="resume">
                Infosys Australia <span>Programmer - Nov 2001 - Jul 2005</span></h2>
            <ul class="resume">
                <li class="resume">Worked for several clients of the company</li>
                <li class="resume">Developed website enhancements and new features</li>
                <li class="resume">Developed applications that manage</li>
                <li class="resume">ASP (Classic), ASP.NET, VB.NET, SQL Server, JavaScript, Web Services, XML</li>
            </ul>
        </dd>
        </dl>
        <dl>
        <dd class="clear">
        </dd>
        <dt>Technical Skills Summary</dt>
        <dd>
           	<table border="1">
			  <tr>
				<th>Skill</th>
				<th>Version(s)</th>
				<th>Competency Level</th>
				<th>Years Exp</th>
			  </tr>
			  <tr>
				<td>Microsoft Visual Studio</td>
				<td>2003 - 2010</td>
				<td>Expert</td>
				<td>9</td>
			  </tr>
			  <tr>
				<td>Microsoft C#</td>
				<td>2.0 – 5.0</td>
				<td>Expert</td>
				<td>7</td>
			  </tr>
			  <tr>
				<td>.NET Framework</td>
				<td>1.0 – 5.0</td>
				<td>Advanced</td>
				<td>7</td>
			  </tr>
			  <tr>
				<td>ASP.NET</td>
				<td>1.0 – 4.0</td>
				<td>Advanced</td>
				<td>4</td>
			  </tr>
			  <tr>
				<td>MVC</td>
				<td>MVC2 – MVC4</td>
				<td>Advanced</td>
				<td>2</td>
			  </tr>
			  <tr>
				<td>Entity Framework</td>
				<td>3.5 – 4.3</td>
				<td>Advanced</td>
				<td>3</td>
			  </tr>
			  <tr>
				<td>Microsoft SQL Server</td>
				<td>2000 – 2010</td>
				<td>Good</td>
				<td>6</td>
			  </tr>
			  <tr>
				<td>PostgreSQL</td>
				<td>9.0 – 9.2.4</td>
				<td>Good</td>
				<td>2</td>
			  </tr>
			  <tr>
				<td>NHibernate</td>
				<td>2.0 – 3.0</td>
				<td>Good</td>
				<td>2</td>
			  </tr>
			  <tr>
				<td>WPF</td>
				<td>3.0 – 4.5</td>
				<td>Good</td>
				<td>3</td>
			  </tr>
			  <tr>
				<td>WCF</td>
				<td>4.0 – 4.5</td>
				<td>Good</td>
				<td>2</td>
			  </tr>
			  <tr>
				<td>Microsoft VB / VB.NET</td>
				<td>VB 6.0 – VB 10.0</td>
				<td>Good</td>
				<td>5</td>
			  </tr>
			  <tr>
				<td>JavaScript</td>
				<td>1.6 – 1.8.2</td>
				<td>Intermediate</td>
				<td>2</td>
			  </tr>
			  <tr>
				<td>JSON, jQuery, HTML, CSS</td>
				<td>n/a</td>
				<td>Intermediate</td>
				<td>3</td>
			  </tr>
		</table>
        </dd>
    </dl>

    <dl>
        <dd class="clear">
        </dd>
        <dt>Training</dt>
        <dd>
            <h2 class="resume">2013</h2>
            <ul class="resume">
                <li class="resume">Statistics in Medicine (HRP258) - Stanford University online course</li>
                <li class="resume">Cryptography I – Stanford University online course</li>
                <li class="resume">HTML5 Game Development – www.udacity.com</li>
                <li class="resume">Writing in the Sciences – Stanford University online course</li>
            </ul>
			<h2 class="resume">2012</h2>
			<h3 class="resume">AppDev OnDemand Online Learning Center:</h3>
            <ul class="resume">
                <li class="resume">WPF using Visual C# 2008</li>
                <li class="resume">ASP.NET using Visual C# 2010</li>
                <li class="resume">ASP.NET 4 AJAX and jQuery Using Visual C#</li>
            </ul>
			<h2 class="resume">2011</h2>
			<h3 class="resume">AppDev OnDemand Online Learning Center:</h3>
            <ul class="resume">
                <li class="resume">ASP.NET MVC 2 and 3 Using Visual C# 2010</li>
                <li class="resume">WCF Using Visual C# 2008</li>
                <li class="resume">Windows Presentation Foundation using VC# 2010</li>
            </ul>
			<h2 class="resume">2004</h2>
            <ul class="resume">
                <li class="resume">.NET Essentials Boot Camp - Monash University</li>
            </ul>
			
		</dd>
	</dl>
	<dl>
        <dd class="clear">
        </dd>
        <dt>Other Interests / Hobbies</dt>
        <dd>
            <h2 class="resume">
                Strength Training</h2>
            <p>
                I explored different approaches to strength training. I have competed in Powerlifting for a few years, eventually reaching national level in 2013, when I competed at Australian Raw Powerlifting Championships. Now my training is leaning towards more bodyweight exercises.</p>
        </dd>
		<dd>
            <h2 class="resume">
                Martial Arts</h2>
            <p>
                Having briefly practiced in Taekwondo and Aikido in the past, I was training for the last 9 years in Master Kimm Yong-Sup's <a href="http://www.hkd.com.au">Hapkido Academy</a> in Melbourne.</p>
        </dd>
        <dd>
            <h2 class="resume">
                Bioinformatics</h2>
            <p>
                I was always interested in Biology and was excited to find that there is an area where it intersects with IT. I'm currently studying for the Master of Digital Biology (distance education) and solving practical problems on Project ROSALIND. Check my progress <a href="http://rosalind.info/users/Evgeny_Rokhlin/">here</a></p>
        </dd>
	</dl>
    <dl>
        <dd class="clear">
        </dd>
        <dt>Relevant Links</dt>
        <dd>
            <ul class="resume">
                <li class="resume"><a href="http://au.linkedin.com/in/evgenyr">LinkedIn Profile</a></li>
                <li class="resume"><a href="https://github.com/EvgenyR/">GitHub repositories</a></li>
                <li class="resume"><a href="http://rosalind.info/users/Evgeny_Rokhlin/">Project ROSALIND Profile</a></li>
                <li class="resume"><a href="http://stackoverflow.com/users/26447/evgeny">StackOverflow Profile</a></li>
                <li class="resume"><a href="https://www.coursera.org/user/i/9effa89c7058c8c88e19eb4fa3d51b6b">Coursera Profile</a></li>
                <li class="resume"><a href="https://www.elance.com/s/evgenyr/10183">Elance Profile</a></li>
                <li class="resume"><a href="https://mcp.microsoft.com/authenticate/validatemcp.aspx">Verify my Microsoft Certification</a> (Transcript ID: 699619 Access Code: evgeny00)</li>
            </ul>
        </dd>
     </dl>
</div>
