@{
    ViewBag.Title = "Global Alignment Index";
}

@Html.BodyTagUpdate("game")
<div id="page" style="min-width:500px">
    @Html.Partial("_GlobalAlignNav")
</div>

<div>Global alignment - under construction</div>