@{
    ViewBag.Title = "Theory Behind The Global Sequence Alignment Algorithm Example";
}

@Html.BodyTagUpdate("gamedesc")
<div id="page">
    @Html.Partial("_GlobalAlignNav")
    <div class="generalText">
    @Html.GlobalAlignmentTheory()    
    </div>
</div>
@Html.HighLightSyntax()