@{
    ViewBag.Title = "Theory Behind The Global Sequence Alignment Algorithm Example";
}

@Html.BodyTagUpdate("gamedesc")
<div id="page">
    @Html.Partial("_GlobalAlignNav")
    <!--
    <div class="generalText">
    @Html.StoneTheory()    
    </div>
    -->

</div>

<div>Global alignment theory - under construction</div>

@Html.HighLightSyntax()
