<script type="text/javascript">

    var timerID;

    function Start() {
        timerID = setInterval("$('#update').load('/Stone/Step')", 1000);
    }

    function Stop() {
        clearInterval(timerID);
    }

    function ResetStone() {
        Stop();
        $('#update').load("/Stone/Reset");
    }

    function Step() {
        v = document.getElementById('state').value;
        for (i = 0; i < v; i++) {
            $('#update').load("/Stone/Step");
        }
    }
</script>

@model HtmlString
@{
    ViewBag.Title = "Index";
}
@Html.BodyTagUpdate("game")
<div id="page" style="min-width:500px">
    @Html.Partial("_StoneNav")
    <div id="update" style="float:left; min-width: 500px;">
        @{Html.RenderPartial("_Table", Model);}
    </div>
    <div id="buttons" style="float:right; min-width:100px; padding:10px">
        <div style="width:50px"><label id="label" style="margin:3px">Iterations:</label></div>
        <div style="width:50px"><input id="state" style="margin:3px" type="text" value="0" /></div>
        <input id="step" style="margin:3px" type="button" value="Step" onclick="Step();" />
        <input id="clean" style="margin:3px" type="button" value="Reset" onclick="ResetStone();" />
    </div>
    <div id="stopstart" style="padding:10px; height: 25px; clear: both;">
        <input id="stop" type="button" style="margin:3px" onclick="Stop();" value="Stop" />
        <input id="start" type="button" style="margin:3px" onclick="Start();" value="Start" />
    </div>
</div>