@{
    ViewBag.Title = "Theory";
}

@Html.BodyTagUpdate("gamedesc")
<div id="page">
    @Html.Partial("_StoneNav")
    <div class="generalText">
    @Html.StoneTheory()    
    </div>

</div>
@Html.HighLightSyntax()
