@model HtmlString
@{
    ViewBag.Title = "Bioinformatics - Global Alignment Example";
}
@Html.BodyTagUpdate("game")
<div id="page" style="min-width:500px">
    @Html.Partial("_GlobalAlignNav")
</div>
<div>
    Global Alignment goes here
</div>